body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

th { 
  font-weight:bold;
  padding-right:30px;
}

tr {
  line-height: 0.9em;
}

td {
  margin-botttom:10px;
}