body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

table {
  width:100%;
  border-collapse: collapse;
}

th { 
  font-size: 2em;
  font-weight:bold;
  padding-right:30px;
  border-bottom: 1px solid #2b2b2b;
}

tr {
  vertical-align: top;
}

td {
  line-height: 1.3em;
  padding-bottom: 0.75em;
}